/* Styles the body element */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Styles the input textarea for events  */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Header styling  */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

/* Timeline typography  */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* Styles each row  */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* Save button styling  */
.save {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* Styling each event  */
.event {
  background-color: #77dd77;
  border: solid white;
  border-width: 1px;
}

/* Styling time dic */
.time {
  background-color: white;
  border: dotted black;
  border-width: 1px;
  border-left: 0;
  border-bottom: 0.5px;
  height: 80px;
}

/* Image sizing  */
img {
  height: 20%;
  width: 20%;
}
